@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-input-affix-wrapper-focused   , .ant-input-affix-wrapper:focus , .ant-input-affix-wrapper:hover
,.ant-btn:focus, .ant-btn:hover {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}