@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-input-affix-wrapper-focused   , .ant-input-affix-wrapper:focus , .ant-input-affix-wrapper:hover
,.ant-btn:focus {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.ant-radio-checked .ant-radio-inner{
  border-color: #000 !important;
  box-shadow: none !important;

}
.ant-radio-inner:after , .ant-slider-track{
  background-color: #000 !important;
}
.ant-slider-handle.ant-tooltip-open , .ant-slider-handle{
  border-color: #000 !important;

}
.ant-layout , .ant-layout-header , .ant-slider-rail{
  background-color: #fff !important;

}
.ant-layout-sider {
  background-color: #F3F7F8 !important;
  padding: 1%;

}
.ant-layout-content{
  margin-top: 20px;

}